# docker-compose.yml

# version: "3.8"

networks:
  elixir-demo:

services:
  client:
    build:
      context: ./client
    command: node /opt/yarn-v1.22.22/bin/yarn.js start
    container_name: template-ui
    ports:
      - 3000:3000
    volumes:
      - ./client/src/config/config.json:/client/src/config/config.json
      - ./client/.env:/client/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    networks:
      - elixir-demo

  feedback-file:
    build:
      context: ./feedback-file
    command: node /opt/yarn-v1.22.22/bin/yarn.js start
    container_name: feedback-file
    expose:
      - 4010
    volumes:
      - ./feedback-file/feedback.txt:/feedback-file/feedback.txt
    networks:
      - elixir-demo
